$accent-color: #3c9c41;
$accent-hover-color: #4db252;
$accent-pressed-color: #318636;
$text-color: #5b5b5b;
$secondary-text-color: #ffffff;
$body-bg-color: #ffffff;
$form-bg-color: #ffffff;
$border-color: #c1c1c1;
$radio-border-color: #cacaca;
$valid-color: #87d78b;
$invalid-color: #d23737;
